services:
  php5.test:
    build:
      context: ../
      dockerfile: ./php5-ssl-admin-sub/Dockerfile
    image: proxyapp/php5.6-ssl-admin-sub
    restart: always
    volumes:
      - .:/var/www/html
      - ./certs:/etc/nginx/certs:ro
    environment:
      - WWWUSER=${WWWUSER}
      - WWWGROUP=${WWWGROUP}
      - VIRTUAL_HOST=php5.test
      - NETWORK_ACCESS=internal
      - VIRTUAL_PROTO=https
      - VIRTUAL_PORT=443

networks:
  default:
    external: true
    name: www-proxy-net

